<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Перенаправлять все запросы на index.html (кроме реальных файлов/папок)
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.html [L]
</IfModule>