.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--text-primary);
    isolation: isolate;
    z-index: 1000;

    .header_content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        padding: 24px 48px;
        max-width: 1550px;
    }

    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
    }

    &::before {
        background: url('/src/assets/header_3.png') no-repeat top left / cover,
            url('/src/assets/header_1.png') no-repeat top 20px left / 100%,
            #00000060;
        background-blend-mode: overlay, color-dodge;
        z-index: -1;
        opacity: 16%;
    }


    &::after {
        background: url('/src/assets/header_2.png') no-repeat top -440px right -400px / 1600px;
        z-index: -2;
        mix-blend-mode: plus-lighter;
    }

    .header_left {
        display: flex;
        align-items: center;
        gap: 32px;

        img {
            cursor: pointer;
        }

        .header_input {
            padding: 10px 16px 10px 48px;
            border: 1px solid #FFFFFF29;
            color: #fff;
            font-size: 18px;
            background: url('/src/assets/search.svg') no-repeat left 16px top 50%, #292A2A;

            &::placeholder {
                color: #FFFFFF52;
            }
        }
    }

    .header_right {
        display: flex;
        align-items: center;
        gap: 16px;

        .header_btn {
            text-transform: uppercase;
            width: 120px;
            font-size: 24px;
            height: 48px;
        }

        .login {
            background-color: #FFA32B14;
            color: var(--light-yellow);
            border: 1px solid #FFA32B3D;
            font-family: "Jersey 20", sans-serif;
        }

        .register {
            color: #FFFFFF;
            background-color: var(--light-yellow);
            font-family: "Jersey 20", sans-serif;
            border: 2px solid #fff;
            filter: drop-shadow(4px 4px 0px #fff);
        }

        .header_right_mail {
            text-transform: uppercase;
            font-size: 24px;
            font-family: "Jersey 20", sans-serif;
            color: #fff;
            font-weight: 400;
        }

        .logout {
            background-color: transparent;
            color: #fff;
            border: 2px solid #fff;
            font-family: "Jersey 20", sans-serif;
        }

        .basket {
            position: relative;
            margin-left: 16px;
            width: 48px;
            height: 48px;
            background-color: transparent;
            border: none;

            .basket_quantity {
                position: absolute;
                left: 28px;
                top: 28px;
                background-color: #fff;
                border-radius: 32px;
                width: 28px;
                line-height: 150%;
                font-size: 14px;
                font-weight: 600;
            }
        }

        .burger {
            height: 48px;
            width: 48px;
            display: none;
            background-color: transparent;
            border: 0;
        }
    }
}

@media (max-width: 1200px) {
    .header {
        &::after {
            background: url('/src/assets/header_2.png') no-repeat top -330px right -300px / 1200px;
            z-index: -2;
            mix-blend-mode: plus-lighter;
        }
    }
}

@media (max-width: 992px) {
    .header {
        .header_left {
            .header_input {
                display: none;
            }
        }

        .header_right {
            .login {
                display: none;
            }

            .register {
                display: none;
            }

            .header_right_mail {
                display: none;
            }

            .logout {
                display: none;
            }

            .burger {
                display: block;
            }
        }
    }
}

@media (max-width: 768px) {
    .header {
        &::after {
            background: url('/src/assets/header_2.png') no-repeat top -245px right -250px / 900px;
            z-index: -2;
            mix-blend-mode: plus-lighter;
        }
    }
}


@media (max-width: 576px) {
    .header {
        &::after {
            background: url('/src/assets/header_2.png') no-repeat top -165px right -125px / 600px;
            z-index: -2;
            mix-blend-mode: plus-lighter;
        }

        .header_content {
            padding: 8px 16px;
        }
    }
}