.breadcrumbs {
    max-width: 1280px;
    padding: 0 32px;
    margin: 0 auto;
    margin-top: 24px;
    overflow-x: auto;

    &::-webkit-scrollbar {
        display: none;
    }

    .breadcrumbs_list {
        display: flex;
        gap: 8px;

        li {
            font-size: 18px;
            line-height: 160%;
            color: #16181852;
            white-space: nowrap;

            &:last-child {
                color: var(--text-primary);
            }
        }
    }
}

@media (max-width: 576px) {
    .breadcrumbs {
        padding: 0 16px;
        margin-top: 16px;
    }
}