.cookie_content {
    box-sizing: border-box;
    position: fixed;
    padding: 24px;
    background-color: #fff;
    right: 24px;
    bottom: 69px;
    max-width: 536px;
    width: calc(100% - 48px);
    border: 1px solid #16181814;

    .cookie_content_title {
        font-size: 32px;
        color: var(--text-primary);
        font-weight: 400;
        font-family: "Jersey 20", sans-serif;
        margin-bottom: 16px;
    }

    .cookie_desc {
        font-size: 18px;
        color: var(--text-primary);

        a {
            color: #FFA32B;
        }
    }

    .cookie_buttons {
        margin-top: 32px;
        display: flex;
        flex-direction: column;
        gap: 16px;

        .cookie_button {
            text-transform: uppercase;
            width: 100%;
            font-family: "Jersey 20", sans-serif;
            font-size: 24px;
            color: #fff;
            height: 48px;
        }

        ._cookie_button_more {
            border: 1px solid #FFA32B3D;
            color: var(--light-yellow);
            background-color: #FFA32B14;
        }


        .cookie_button_accept {
            border: 2px solid #FFFFFF;
            background-color: var(--light-yellow);
        }
    }
}

@media (max-width: 992px) {
    .cookie_content {
        bottom: 24px;
    }
}

@media (max-width: 576px) {
    .cookie_content {
        right: 16px;
        width: calc(100% - 32px);
        bottom: 16px;
    }
}